:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 90vh;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-grayish-cyan);
}

.flex-item {
  padding: 0.5em;
  width: 100%;
}

.flex {
  display: flex;
  padding: 0.5em;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
.per-person {
  font-family: "Space Mono", monospace;
}

h1,
h2,
.per-person {
  font-size: 1rem;
  font-weight: 900;
}

h2 {
  font-weight: 600;
}

.per-person {
  font-weight: 500;
  color: var(--dark-grayish-cyan);
}

.app-head {
  margin: 1em 1em;
}

.container {
  flex-direction: column;
  align-items: center;
}

.wrapper {
  background-color: var(--white);
  border-radius: 15px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

.bill-section {
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 1em;
}

.bill-title {
  color: var(--darker-grayish-cyan);
}

.dollar-sign {
  justify-content: center;
}

.input-bill {
  background-color: var(--lighter-grayish-cyan);
  border-radius: 5px;
  width: 100%;
}

.tip-section {
  flex-direction: column;
  background-color: var(--very-dark-cyan);
  border-radius: 5px;
}

.tip-head {
  margin-top: 0.5em;
}

.tip-title {
  color: var(--white);
}

.input-people {
  background-color: var(--lighter-grayish-cyan);
  border-radius: 5px;
  width: 100%;
}

/* .input-per-person {

} */

.tip-buttons {
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 0.5em;
  justify-content: center;
}

.tip-button,
.tip-button-five,
.tip-button-ten,
.custom-button {
  color: var(--white);
  background-color: var(--very-dark-cyan);
  border-radius: 5px;
  padding: 0.5em 3em;
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.tip-button-five {
  padding: 0.5em 3.3em;
}

.tip-button-ten {
  padding: 0.5em 3em;
}

.custom-button {
  color: var(--darker-grayish-cyan);
  background-color: var(--light-grayish-cyan);
  padding: 0.5em 2em;
}

.people-head {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.reset {
  justify-content: center;
}

.reset-button {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
  padding: 1em 5em;
  border-radius: 5px;
  font-weight: 600;
}

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
