:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-grayish-cyan);
}

.flex-item {
  padding: 0.5em;
  width: 100%;
}

.flex {
  display: flex;
  padding: 1em;
}

a {
  text-decoration: none;
}

p {
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Space Mono", monospace;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Space Mono", monospace;
}

.app-head {
  margin: 1em 1em;
}

.container {
  flex-direction: column;
  align-items: center;
}

.wrapper {
  background-color: var(--white);
  border-radius: 15px;
  width: 100%;
  justify-content: center;
}

.bill-section {
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
}

.bill-title {
  color: var(--darker-grayish-cyan);
}

.tip-section {
  flex-direction: column;
  background-color: var(--very-dark-cyan);
  border-radius: 5px;
}

.tip-title {
  color: var(--white);
}

.tip-button {
  color: var(--white);
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  font-family: "Space Mono", monospace;
}

.custom-button {
  color: var(--darker-grayish-cyan);
  background-color: var(--light-grayish-cyan);
  border-radius: 10px;
  padding: 0.5em 0.5em;
  font-family: "Space Mono", monospace;
}

.reset-button {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
  padding: 0.5em 3em;
  border-radius: 5px;
}

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  font-size: 1rem;
  text-align: center;
  background-color: var(--dark-grayish-cyan);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
